@import "~bootstrap/scss/mixins/breakpoints";
@import "bootstrap/dist/css/bootstrap.min.css";

$font: "Inter", sans-serif;

$font-size-sm: 0.875rem;
$font-size-large: 4.5rem;

$primary: #f4d35e;
$brand-black: #141115;
$brand-white: #f7f9f9;
$white: #ffffff;
$brand-orange: #fe7f2d;
