@import "./components/scss/base.scss";

.App {
  text-align: left;
  background-color: $brand-white;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  &-link {
    color: $primary;
  }

  .hero {
    padding-top: 50px;

    &-label {
      font-size: 54px;
      font-weight: 700;
    }
    &-img {
      display: block;
      margin: auto;
    }
    @include media-breakpoint-down(
      "md",
      (
        md: 768px,
      )
    ) {
      padding-top: 10px;
      &-img {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primary;
    }
  }
}
